.ant-layout-header {
    height: auto;
}

.ant-menu {
    height: 100px;
}

.ant-menu-item {
    line-height: 100px;
}

.logo {
    float: left;
    width: 140px;
    height: 100%;
    padding: 10px;
    background: url('../assets/logo2.jpg') no-repeat center center;
    background-size: cover;

}