html,
body,
#root {
    height: 100%;
}

.loginBg {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../assets/loginbg.webp) center center no-repeat;
    background-size: cover;
}

.loginBox {
    width: 400px;
    background: rgb(156, 160, 238, 0.6);
    padding: 40px;

}