html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox {
    width: 400px;

    background-color: rgb(156, 160, 238);
    padding: 40px;

    &>Input {
        margin-bottom: 30px;
    }
}