.roomTypeBox {
    padding: 40px;
    height: 100%;

    >h1 {
        background-color: white;
        display: flex;

        >span {
            display: block;
            width: 3px;
            margin-right: 10px;
            background-color: gray;
        }
    }

    .addMiniBox {
        margin: 20px 0;
        display: flex;

        Input {
            width: 200px;
            margin-left: 5px;
        }
    }

    .drawer {
        Input {
            margin-top: 300px;
        }
    }
}